body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: "Gosanja", Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu {
    width: 400px;
    background-color: #ffffff33;
}

.dressButton {
    border: 1px solid pink;
    background-color: #ee888866;
    height: 100px;
}

.dressButton > * {
    float: left;
}

.dressButton img {
    vertical-align: middle;
    margin: 10px auto;
}

p {
    margin: 0;
}
